//node-sass -o css style.scss -w  自动compile的代码

:root {
  --mdc-theme-primary: #ff5300;
  --mdc-theme-secondary: #ff5300;
}

:focus {
  outline: none;
}

.bg-white {
  background:rgba(255,255,255,0.8)
}

.mdc-dialog__surface {
  overflow:hidden;
}

.mdc-toolbar {
  background: -moz-linear-gradient(top, rgba(31,31,31,1) 0%, rgba(51,51,51,0) 80%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(31,31,31,1) 0%,rgba(51,51,51,0) 80%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(31,31,31,1) 0%,rgba(51,51,51,0) 80%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}


.mdc-theme--dark .color-white {
  color:white;
}

.counter-number {
  font-size: 14px;
  color: #fff;
}

.counter-subheading {
  display: block;
  margin-bottom: 7.5px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  opacity:0.5;
}

.mdc-tab {
  min-width: 80px;
  min-height: 30px;
  margin: 0;
  padding: 0px 15px;
}

.nexus_mini {
  position:fixed;
  left:calc(50% - 48px);
  padding:20px 20px 10px 20px;
  bottom:0;
  //transform:translate3d(0,70px,0);
  transition:all 0.5s ease;
}

.nexus_mini:hover {
  transform:translate3d(0,0,0);
}

.mdc-grid-tile {
  width: 56px;
  width: var(--mdc-grid-list-tile-width, 56px);
}

.panels {
  height: 400px;
  overflow:auto;
  margin-right:-20px;
  padding-right:20px;
  position: relative;
}

.panels__bg_1 {
  content: "";
  width: 100%;
  height: 20px;
  position: absolute;
  left: 0;
  top: 38px;
  background: -moz-linear-gradient(top, rgba(51,51,51,1) 0%, rgba(51,51,51,0) 80%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(51,51,51,1) 0%,rgba(51,51,51,0) 80%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(51,51,51,1) 0%,rgba(51,51,51,0) 80%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00303030', endColorstr='#303030',GradientType=0 ); /* IE6-9 */
}

.panels__bg_2 {
  content: "";
  width: 100%;
  height: 40px;
  position: absolute;
  left:0;
  bottom:0;
  background: -moz-linear-gradient(top, rgba(51,51,51,0) 0%, rgba(51,51,51,1) 80%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(51,51,51,0) 0%,rgba(51,51,51,1) 80%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(51,51,51,0) 0%,rgba(51,51,51,1) 80%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00303030', endColorstr='#303030',GradientType=0 ); /* IE6-9 */
}

.panel {
  display: none;
}

.panel.active {
  display: block;
}

//.mdc-toolbar {
//  background:none;
//  box-shadow:none;
//}
//
//.mdc-toolbar__icon {
//  color:black
//}

.mdl-badge {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 6px;
  left: 25px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 600;
  font-size: 12px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ff4081;
  background-color: var(--mdc-theme-secondary, #ff4081);
  color: #fff;
}

.mdc-dialog__bg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  background: white url(https://orig00.deviantart.net/312a/f/2013/042/c/3/gradient_toshiba_background_by_daproba-d5uo24e.png) no-repeat fixed 50%;
  background-size: cover;
  z-index: -1;
}

.mdc-dialog__bg_blur {
   -webkit-filter: blur(10px);
   width: calc(100% + 20px);
   height: calc(100% + 20px);
   left: -10px;
   top: -10px;
 }

.mdc-toolbar__icon {
  position:relative;
}


.speedometer {
  width: 100%;
  height: 330px;
}

.mdc-button.big-round-corner-button {
  border-radius: 18px;
}

.mdc-button__icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 8px;
  font-size: 18px;
  line-height: inherit;
  vertical-align: top;
}

.mdc-tab-bar__ranking {
  height:38px;
  margin:0;
  width:100%;
}
.mdc-tab-bar__ranking .mdc-tab {
  width: 33.33%;
  max-width:33.33%;
  min-width:33.33%;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.mdc-list--more-dense {
  font-size: .812rem;
  .mdc-list-item {
    height: 40px;
  }
  .mdc-list-item__end-detail {
    font-size: 12px;
    font-weight:800;
    color: #aaa;
    width: auto;
    .material-icons {
      display: inline-block;
      width: 12px;
      height: 18px;
      font-size: 12px;
      line-height: inherit;
      vertical-align: top;
    }
  }
}


.mdc-list--achievements {
  .mdc-list-item {
    line-height: 1.7em;
    white-space: initial;
    align-items: flex-start;
    height: 55px;
    margin-top: 8px;
    .mdc-list-item__start-detail {
      margin-right:10px;
    }
    .mdc-list-item__secondary-text {
      font-size:11px;
      opacity:0.7;
      line-height: 1.3em;
    }
  }
}


.speedometer .progress::before {
  content: "";
  position: absolute;
  top: -2px;
  left: calc(50% - 3px);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #f1252e;
  box-shadow: 0 0 60px 20px rgba(241,37,46,0.35);
}

.mdc-layout-grid__cell {
  overflow:hidden;
}

.main-container {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  flex-direction:column;
  height:100%;
  position:relative;
  .speedometer {
    height: 300px;
    margin-top: 90px;
    position: relative;
    width: 100%;
  }
}

.mdc-toolbar__title {
  font-size:1.1rem;
}



$size: 200px;

$colorPrimary: white;

@function pi() {
  @return 3.14159265359;
}
@function tau(){
  @return pi()/2;
}

.ui-container{
  display:block;
  transform-style: preserve-3d;
  transition: .25s;
  width:$size*2;
  height:$size*2;
  position:absolute;
  top:50%;
  left:50%;
  margin-top:-$size;
  margin-left:-$size;
}

.ui-container>svg{
  position:absolute;
  width:$size*2;
  height:$size*2;
}

svg.ui-circle{
  circle{
    fill: transparent;
    stroke: rgba($colorPrimary, .2);
    stroke-width:20px;
    r:$size/3;
    cx:$size;
    cy:$size;
    transition: fill .3s ease-out;
  }

  circle.circle-stroked{

  }

  circle .dotted{

  }

  circle.circle-slice{
    stroke-dasharray: 100 10 ;
    stroke: rgba($colorPrimary, 0.2);
  }
}


// STYLE SEMANTICS
.filter-glow{
  filter: drop-shadow( 0px 0px 10px rgba( $colorPrimary, 0.2) );
}
.filter-glow-lg{
  filter: drop-shadow( 0px 0px 10px 4px rgba( $colorPrimary, 2) );
}


svg.ui-circle {


  .distance-1{

    transform: rotateZ(0deg) translateZ(30px);
  }

  .dash-sm{
    stroke-dasharray: tau()*($size/1.5) 10000;
  }


  .stroke-sm{
    stroke-width: 2px;
  }
  .stroke-md{
    stroke-width:4px;
  }
  .stroke-lg{
    stroke-width: 8px;
  }
  .stroke-xl{
    stroke-width: 3px;
  }
  .stroke-xxl{
    stroke-width: 24px;
  }

  .radius-sm{
    r:$size/12;
  }
  .radius-md{
    r:$size/7;
  }
  .radius-lg{
    r:$size/6;
  }
  .radius-xl{
    r:$size/3;
  }
  .radius-xxl{
    r:$size/1.5;
  }
}


// SPEED
body .ui-circle.duration-05s{
  animation-duration: 0.5s ;
}
body .ui-circle.duration-1s{
  animation-duration: 1s ;
}
body .ui-circle.duration-2s{
  animation-duration: 2s;
}
body .ui-circle.duration-3s{
  animation-duration: 3s ;
}
body .ui-circle.duration-4s{
  animation-duration: 4s ;
}
body .ui-circle.duration-5s{
  animation-duration: 5s ;
}
body .ui-circle.duration-10s{
  animation-duration: 10s ;
}
body .ui-circle.duration-30s{
  animation-duration: 30s ;
}

body .ui-circle.duration-60s{
  animation-duration: 60s ;
}

// ANIMATIONS
.animation-rotate{
  animation: rotate 10s linear infinite ;
}

@keyframes rotate{
  from{
    transform: rotate(-90deg);
  }

  to{
    transform: rotate(270deg);
  }
}